@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@400;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

ul {
  list-style: none; }

body {
  background-color: #0A090A;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  background-image: url("../img/main-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 300%; }

.wrapper {
  max-width: 1140px;
  min-width: 320px;
  margin: auto;
  padding: 0 20px; }

header {
  padding-top: 25px; }

.desktopHeader {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.logo {
  width: 125px;
  height: 28px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #fff; }

.search {
  display: flex;
  align-items: center;
  flex: 0.8; }

.laptop-search {
  display: none; }

.mobile-search {
  display: flex;
  margin-top: 28px; }

.search-input {
  flex: 1;
  background: rgba(196, 196, 196, 0.5);
  border: none;
  border-radius: 5px;
  padding: 12px 18px;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #AEAEAE; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #AEAEAE;
  opacity: 1; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #AEAEAE; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #AEAEAE;
  opacity: 1; }

.search-button {
  background-color: transparent;
  border: none;
  padding: 10px 0 10px 14px; }

.user {
  display: flex;
  align-items: center; }

.avatar {
  margin-left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover; }

main {
  /*transform: translateY(240px);*/
  margin-top: 185px; }

.title {
  font: bold 48px 'Playfair Display', serif;
  color: #fff; }

.subTitle {
  margin-top: 8px;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  color: #787878; }

.titleInfo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 30px;
  color: #fff; }

.dataFilm {
  display: flex;
  align-items: center; }

.kindOfTitle {
  padding: 5px 10px;
  margin-right: 20px;
  width: 72px;
  border-radius: 3px;
  color: #333333;
  background-color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: normal; }

.btn-WatchTrailer {
  display: flex;
  align-items: center;
  margin-top: 26px; }

.btn-MoreDetails {
  display: none;
  align-items: center; }

.playTrailer {
  margin-left: 15px;
  font-size: 16px;
  font-style: normal;
  font-weight: normal; }

.playMoreDetails {
  margin-right: 15px;
  font-size: 16px;
  font-style: normal;
  font-weight: normal; }

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 70px 0 25px 0;
  background-color: #fff; }

.intro {
  display: flex;
  flex-direction: column;
  align-items: center; }

.cover {
  width: 244px;
  transform: translateY(-30px); }

.willBeWatch {
  width: 244px;
  height: 36px;
  background-color: #FF8F27;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #fff;
  transform: translateY(-10px); }

.navigation {
  margin-top: 10px;
  padding: 0 24px;
  height: 207px; }

.navigation ul {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.navigation li {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #000000; }

.BookmarkNav {
  display: none; }

.navigation .active {
  color: #FF8F27; }

.textBlock {
  margin-top: 35px;
  padding: 0 18px; }

.textBlock p {
  color: #000000;
  line-height: 140%; }

.text-pd-16px {
  margin-top: 16px; }

.developmentTitle {
  margin: 44px 0 24px 0; }

b {
  font-style: normal;
  font-weight: 900; }

.CTA-Block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
  padding: 0 18px; }

.subscribeText {
  margin-bottom: 14px; }

.subscribeForm {
  display: flex;
  width: 220px; }

.subscribe-input {
  width: 175px;
  background: rgba(241, 241, 241, 0.5);
  border: none;
  border-radius: 5px 0px 0px 5px;
  padding: 12px 18px;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px; }

.subscribe-button {
  width: 43.5px;
  background-color: #FF8F27;
  border: none;
  border-radius: 0px 5px 5px 0px;
  padding: 6px 0 6px 0; }

.ADV {
  width: 220px;
  height: 276px;
  margin: 48px 0 60px 0; }

.MoreDetails {
  transform: rotate(90deg); }

@media screen and (min-width: 768px) {
  body {
    background-size: 100%; }

  .mobile-search {
    display: none; }

  .laptop-search {
    display: flex; }

  .titleInfo {
    flex-direction: row;
    justify-content: space-between; }

  .btn-WatchTrailer {
    margin: 0 0 0 34px;
    flex: 1; }

  .btn-MoreDetails {
    display: flex; }

  .content {
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 84px; }

  .intro {
    max-width: 182px;
    margin: 0 45px 0 50px; }

  .cover, .willBeWatch {
    width: 182px; }

  .navigation {
    margin-top: 44px;
    max-width: 812px;
    width: 100%;
    height: 21px;
    padding: 0; }

  .navigation ul {
    flex-direction: row; }

  .BookmarkNav {
    display: block; }

  .right-side {
    max-width: 812px;
    width: 100%;
    margin: 0 50px 0 0; }

  .container-block {
    display: flex;
    justify-content: space-between;
    max-width: 812px;
    width: 100%;
    margin-top: 40px; }

  .textBlock {
    max-width: 500px;
    width: 100%;
    padding: 0; }

  .CTA-Block {
    padding: 0;
    margin-left: 10%; } }
@media screen and (max-width: 930px) {
  .content {
    flex-wrap: wrap; }

  .right-side {
    margin: 0 20px; }

  .roles {
    display: none; } }
@media screen and (min-width: 930px) {
  .roles {
    margin-top: 30px; }

  .rolesTitle {
    margin-bottom: 10px; }

  .rolesList > li {
    margin-bottom: 10px;
    text-decoration: underline; } }

/*# sourceMappingURL=style.css.map */
